@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,600);

body {
	font-family: 'Roboto', sans-serif;
	padding: 20px;
	height: 100%;
	background: #eee;
	font-size: 14px;
	line-height: 1;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25rem;
	height: 20rem;
	background-color: #fff;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 0.3125rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card-image {
	display: block;
	width: 10.25rem;
	height: 10.25rem;
	margin-bottom: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	box-shadow: 0 0 0.0625rem rgba(0, 0, 0, 0.5);
}

.card-body {
	color: #000;
	text-align: center;
	border-radius: 0 0 0.3125rem 0.3125rem;
}

p:first-of-type {
	font-size: 1.65rem;
	color: #2368bd;
}

p {
	font-size: 1.1885rem;
	font-weight: bold;
	color: #bdcbce;
	margin: 0;
}
